@charset "utf-8";
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img,input,figure{margin:0;padding:0;}
body{font-family: "微软雅黑";}
*{
    margin:0;
    padding:0;
}
body,html{
    height:100%;
}
ul,ol,li{list-style:none}
a,u{text-decoration: none;}
b,strong{font-weight:normal;}
i,em{font-style:normal}
h1,h2,h3,h4,h4,h5,h6{font-size:16px;font-weight:normal}
input,button{outline:none;border:0;}
img{border:0;display:block;}
.clear_fix:after{content:".";clear:both;height:0;overflow:hidden;visibility: hidden;display:block;}
.clear_fix{zoom:1;}